{{- /* Comments area start */ -}}
{{- /* Giscus */ -}}
{{- if .Site.Params.comments.enabled }}
{{- if eq .Site.Params.comments.provider "giscus" }}
<div class="giscus_comments">
<script src="https://giscus.app/client.js"
        data-repo="{{ .Site.Params.comments.giscus.repo }}"
        data-repo-id="{{ .Site.Params.comments.giscus.repoId }}"
        data-category="{{ .Site.Params.comments.giscus.category }}"
        data-category-id="{{ .Site.Params.comments.giscus.categoryId }}"
        data-mapping="{{ .Site.Params.comments.giscus.mapping }}"
        data-strict="{{ .Site.Params.comments.giscus.strict }}"
        data-reactions-enabled="{{ .Site.Params.comments.giscus.reactionsEnabled }}"
        data-emit-metadata="{{ .Site.Params.comments.giscus.emitMetadata }}"
        data-input-position="{{ .Site.Params.comments.giscus.inputPosition }}"
        data-theme="{{ .Site.Params.comments.giscus.theme }}"
        data-lang="{{ .Site.Params.comments.giscus.lang }}"
        crossorigin="anonymous"
        async>
</script>
</div>
<script async>
        // Function to set the correct theme
        function setGiscusTheme() {
            const isDark = document.body.className.includes("dark");
            const theme = isDark ? 'transparent_dark' : 'light';
            document.querySelector("div.giscus_comments > script").setAttribute('data-theme', theme);
        }

        // Set initial theme
        setGiscusTheme();

        // Change theme on theme toggle click
        document.querySelector('#theme-toggle').addEventListener('click', () => {
            let g = document.querySelector('iframe.giscus-frame')
            if (g) {
                const isDark = document.body.className.includes("dark");
                g.contentWindow.postMessage({
                    giscus: {
                        setConfig: {
                            theme: isDark ? 'transparent_dark' : 'light'
                        }
                    }
                }, 'https://giscus.app');
            }
        })
    </script>
{{- end }}
{{- end }} 